 .comicContent {
    display: flex;
    font-family: 'Roboto', sans-serif;
 }

 h1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: no-wrap;
    margin-left: 4rem;
    width: 100%;
 }

 h3 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: no-wrap;
    margin-left: 4rem;
    width: 100%;
 }

 ul {
    margin-bottom: 3.5rem;
 }